/*Extra Large Device*/
@media only screen and (min-width: 1201px){
	
}
/*Extra Large Device*/
@media only screen and (min-width: 1201px) and (max-width: 1400px){
	
}
/* iPad Pro*/
@media only screen and (min-width : 1024px) and (max-width : 1100px) {
	
}

/*Large Device*/
@media only screen and (min-width: 992px) and (max-width : 1200px) {

}
/*Medium Device*/

@media only screen and (min-width: 768px) and (max-width : 991px) {
	.saijal_menu{
        display: none;
    }
    #mobile-nav{
        display: block;
    }
    .site_menu .logo-container {
        flex: unset;
        z-index: 2;
    }
    .content-container {
        width: 90%;
    }
    .simple-card .card {
        width: 43%;
    }
    .design_line::after {
        margin: 0 auto;
    }
    .page-design-line{
        width: unset;
    }
    .card {
        width: 47%;
    }
    .cards {
        column-gap: 5.5%;
    }
    .page-divider {
        flex-direction: column;
    }
    .skills-container .heading{
        text-align: center;
    }
    .skills-container.bg-black.padding {
        padding: 4em 0;
    }
    .skills-container .heading{
        margin-top: 2rem;
        text-align: center;
    }
    .skills-container h2{
        font-size: 1.3em;
        text-align: center;
        margin-top: 3rem;
    }
    .page-divider .page-img-container {
        width: unset;
        height: unset;
    }
    .skills-container .languages_used {
        flex-wrap: wrap;
        column-gap: 20px;
    }
    .skills-container .languages_used > .language_img_container {
        width: 40%;
    }
    .loved_work h1 {
        width: 25%;
    }
    .project-view-btn.ml-2{
        margin-left: 10px;
    }
    .loved_work .proof_img_cont {
        height: unset;
    }
    .loved_articles .page-divider .page-img-container img {
        top: unset;
        position: unset;
        transform: unset;
    }
    .about .section-big-title{
        top: 1rem !important;
    }
    .mb-pt{
        padding-top: 35px;
    }
    .loved_articles h2{
        font-size: 1.2em;
        text-align: center;
    }
    .loved_work h1 {
        width: 34%;
    }
    .codes_list .code_img_cont {
        width: unset;
    }
    .intro .display_img_container{
        margin: 0 auto;
        flex: unset;
    }
    .intro_container h1 {
        text-align: center;
        font-size: 1.6em;
    }
    .skills .skills-content > .skills_data {
        flex: unset;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    #mobile-nav{
        display: block;
    }
    .site_menu .logo-container {
        flex: unset;
        z-index: 2;
    }
    .saijal_menu{
        display: none;
    }

    .blogs .blogs_content{
        flex-direction: column;
    }

    .section-big-title{
        font-size: 50px;
    }

    .welcome .header-column{
        grid-template-columns: 100%;
    }

    .section-padding{
        padding: 40px 0;
    }
    .section-big-title{
        top: 2%;
    }
    .intro .display_image{
        height: unset;
    }
    .intro .display_img_container{
        flex: unset;
        padding: 15px;
    }
    .content-container {
        width: 90%;
    }
    .intro .info{
        padding: 15px 0;
    }
    h1{
        font-size: 1.6em;
    }
    .col-1{
        text-align: center;
    }
    .slider-column{
        padding: 20px 0;
    }
    .mb-big-title{
        top: 4%;
    }
    .skills .skills-content {
        margin-top: 5rem;
        row-gap: 2rem;
        position: relative;
        left: unset;
        transform: unset;
    }
    .skills_title{
        text-align: center;
        padding: 10px 0;
    }
    .skills .skills_info_container .skills_info{
        width: 100%;
    }
    .skills .skills-content .skills_img_holder{
        margin: 0 auto;
    }
    .skills .skills_info_container {
        column-gap: 50px;
        row-gap: 10px;
    }
    .skills .skills-content .skills_data {
        grid-template-columns: 100%;
    }
    .skills .skills-content > .skills_data{
        flex: unset;
    }
    .card {
        width: 100%;
    }
    .page-design-line{
        width: unset;
    }
    .design_line::after {
        margin: 0 auto;
    }
    .simple-card .card {
        width: 100%;
    }
    .game-holder .github-img-container img{
        width: 100%;
    }
    .iframe-container {
        width: 100%;
    }
    .game-holder .proof-of-work{
        margin-top: 4rem;
    }
    .page-split-container {
        grid-template-columns: 100%;
    }
    .contact-form .grid-separation {
        grid-template-columns: 100%;
    }
    .contact-page .info_panel{
        margin-top: 4rem;
    }
    .page-divider {
        flex-direction: column;
    }
    .page-divider .page-img-container {
        width: unset;
        height: unset;
    }
    .skills-container .heading{
        margin-top: 2rem;
        text-align: center;
    }
    .skills-container h2{
        font-size: 1.3em;
        text-align: center;
        margin-top: 3rem;
    }
    .skills-container .languages_used {
        flex-wrap: wrap;
    }
    .skills-container .languages_used > .language_img_container {
        width: 40%;
    }
    .skills-container.bg-black.padding {
        padding: 4em 0;
    }
    .loved_work h1 {
        width: 60%;
    }
    .project-view-btn.ml-2{
        margin-left: unset;
    }
    .loved_work .proof_img_cont {
        height: unset;
    }
    .loved_articles .page-divider .page-img-container img {
        top: unset;
        position: unset;
        transform: unset;
    }
    .about .section-big-title{
        top: 1rem !important;
    }
    .mb-pt{
        padding-top: 35px;
    }
    .loved_articles h2{
        font-size: 1.2em;
        text-align: center;
    }
    .code_container .code_img_cont {
        height: unset;
    }
    .codes_list .code_img_cont {
        width: unset;
    }
    .about .section-big-title {
        font-size: 35px !important;
    }
    .project_description .project_banner {
        width: unset;
    }
    .project_description .project_intro p.intro {
        margin-top: unset;
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .project_description .languages_list {
        flex-wrap: wrap;
        row-gap: 3em;
    }
    .project_description .lang_img_cont {
        flex: 50%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 320px) {
	
}

/* Mobile Devices, Tablets */
@media only screen and (min-width: 450px) and (max-width : 767px) {

}
/* Mobile Devices, Tablets */
@media only screen and (min-width: 600px) and (max-width : 767px) {
	
}